In [1]:
import pandas as pd
import mysql.connector
from tqdm.auto import tqdm

# Load data from Excel
file_path = 'talent_test_v2.xlsx'
data = pd.read_excel(file_path)

# Fill NaN values with None (to handle MySQL NULL values properly)
data = data.where(pd.notnull(data), None)
# Database connection details
db_config = {
    'user': 'unionsearch_springboot',
    'password': 'DBsldhs12!',
    'host': 'localhost',
    'database': 'unionsearch'
}

# Connect to MySQL
conn = mysql.connector.connect(**db_config)
cursor = conn.cursor()

/home/unionsearch/.local/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
# Insert data into the talents table
insert_query = """
INSERT INTO talents (date, position, name, birth_year, phone, email, school, experience, expertise, status, 
                     source, resume_number, contact_person, job_description, qualifications, major_and_career)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

# Convert the data and insert each row
for index, row in tqdm(data.iterrows(), total=data.shape[0]):
    row_data = (
        row['일시'],                  # date
        row['포지션'],               # position
        row['성명'],                 # name
        row['생년'],                 # birth_year
        row['전화번호'],             # phone
        row['이메일'],               # email
        row['학교'],                 # school
        row['경력'],                 # experience
        row['전문분야'],             # expertise
        row['진행사항'],             # status
        row['입수경로'],             # source
        row['이력서번호'],           # resume_number
        row['컨택담당자'],           # contact_person
        row['업무내용'],             # job_description
        row['자격요건'],             # qualifications
        row['관련전공 및 경력']       # major_and_career
    )
    cursor.execute(insert_query, row_data)

100%|██████████| 10396/10396 [00:00<00:00, 11688.91it/s]

In [3]:
# Commit and close
conn.commit()
cursor.close()
conn.close()

In [4]:
data.describe()

                 일시
count  1.039600e+04
mean   2.020381e+07
std    3.657883e+04
min    1.900010e+07
25%    2.019112e+07
50%    2.021030e+07
75%    2.022072e+07
max    2.024040e+07

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10396 entries, 0 to 10395
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   일시         10396 non-null  int64
 1   포지션        10396 non-null  object
 2   성명         10396 non-null  object
 3   생년         10395 non-null  object
 4   전화번호       10396 non-null  object
 5   이메일        10396 non-null  object
 6   학교         10396 non-null  object
 7   경력         10396 non-null  object
 8   전문분야       10396 non-null  object
 9   진행사항       10395 non-null  object
 10  입수경로       10396 non-null  object
 11  이력서번호      10396 non-null  object
 12  컨택담당자      10396 non-null  object
 13  업무내용       10395 non-null  object
 14  자격요건       10396 non-null  object
 15  관련전공 및 경력  10396 non-null  object
dtypes: int64(1), object(15)
memory usage: 1.3+ MB

In [6]:
# Commit and close
conn.commit()
cursor.close()
conn.close()

MySQLInterfaceError: MySQL server has gone away